<?xml version="1.0" encoding="UTF-8"?>
<!--debug="false"  关闭logback日志-->
<configuration debug="false" scan="false" scanPeriod="30 seconds">
    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="off"/>
    <logger name="org.springframework.cloud.stream.binder.kafka.provisioning.KafkaTopicProvisioner" level="off"/>
    <property name="log.path" value="/Users/xuzhichao8/logs/idea" />

    <!--全局traceId filter-->
    <turboFilter class="com.chaoyue.haodebar.filter.TraceIdTurboFilter"/>
    <!--全局traceId filter-->
    <!-- 输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%X{traceId}|%.-51200msg|- %m%n</pattern>
        </encoder>
    </appender>
    <!-- error日志 -->
    <!-- 按日期滚动日志 -->
    <appender name="ERROR-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志存放位置 -->
        <file>${log.path}/logs/error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%X{traceId}|%.-51200msg|- %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- 保存365天历史 -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- info日志 -->
    <!-- 按文件大小滚动日志 -->
    <appender name="INFO-OUT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/logs/info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%X{traceId}|%.-51200msg|- %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/info.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- 保存365天历史 -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- sql -->
    <!-- 按文件大小滚动日志 -->
    <appender name="operaLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/logs/operaLog.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%X{traceId}|%.-51200msg|- %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/operaLog.%d{yyyy-MM-dd}.operaLog.zip</fileNamePattern>
            <!-- 保存365天历史 -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- debug日志 -->
    <!-- 按日期和大小滚动日志 -->
    <appender name="DEBUG-OUT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/logs/debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%X{traceId}|%.-51200msg|- %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="operaLog" additivity="false">
        <appender-ref ref="operaLog"/>
    </logger>

    <!-- 配置好前面对应的appender -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERROR-OUT"/>
        <appender-ref ref="INFO-OUT"/>
        <appender-ref ref="DEBUG-OUT"/>
    </root>
</configuration>